.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.author-list,
.book-list{
    padding:6px;
   
}
.sidebar-dev{
    background-color:#a68cce;
    height:100vh;
    color:black;
}

.sidebar-nav li a{
    color:white;
}
.sidebar-nav li a:hover{
    color:black;
}